{% extends 'admin/adminbase.html.twig' %}
{% block body %}

    <div class="container-fluid">

        <div class="row no-gutters justify-content-center mt-5">

            <div class="col-12 col-lg-6 col-md-6">

                <h1 class="display-4 text-center">
                    {{ title }}
                </h1>

            </div>

        </div>

    </div>


    <div class="container-fluid">

        <div class="row no-gutters justify-content-center mt-5">

            <div class="col-12 mt-5">

                <a href="{{ path('admin_user_create') }}" type="button" class="btn btn-success">Создать пользователя </a>

            </div>

        </div>

    </div>





    <div class="container-fluid">

        <div class="row no-gutters  mt-5">

            <div class="col-12 col-lg-6 col-md-6">



                    {% for user in users %}
                        <table class="table table-striped  " >
                            <thead>
                            <tr>
                                <th scope="col">Электронный адрес</th>
                                <th scope="col">Роль</th>
                                <th scope="col">Имя</th>
                                <th scope="col">Организация</th>
                                <th scope="col">Место обучения</th>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                                <td>{{ user.email}}</td>

                                <td>{{ user.roles | json_encode }}</td>
                                <td>{{ user.fio}}</td>
                                <td>{{ user.org}}</td>
                                <td>{{ user.univ}}</td>


                                <td>
                                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
                                        <a href="{{ path('admin_user_update' , {'id':user.id }) }}" class="btn btn-outline-info">Редактировать</a>
                                    {% endif %}
                                </td>

                            </tr>
                            </tbody>
                        </table>
                    {% endfor %}



            </div>

        </div>

    </div>



{% endblock %}


