{% extends 'admin/adminbase.html.twig' %}
{% block body %}

    <div class="container-fluid">
        <div class="row no-gutters justify-content-center mt-5">
            <div class="col-12 col-lg-6 col-md-6">
                <h1 class="display-4 text-center">
                    {{ title }}
                </h1>
            </div>
        </div>
    </div>




    <div class="container-fluid">
        <div class="row no-gutters ">
            <div class="col-12 mt-5">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
                <a href="{{ path('admin_post_create') }}" class="btn btn-success">Создать вакансию </a>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-8">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters justify-content-center">
            <div class="col-8">
                {% for message in app.flashes('danger') %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutters  mt-5">
            <div class="col-12 col-lg-6 col-md-6">
                {{ include('admin/post/_sidebar.html.twig') }}
                <h2>Список вакансий</h2>

                <ul>
                    {% for post_item in post %}

                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ post_item.title }}</h5>
                                <h7 class="card-title">{{ post_item.user}}</h7>
                                <h6 class="card-subtitle mb-2 text-muted">{{ post_item.content }}</h6>
                                <div class="text-white bg-white"><a href="{{ path ('admin_post_single',{'post':post_item.id}) }}">Просмотреть вакасию</a>

                                </div>
                                {% if is_granted('ROLE_ADMIN')  %}
                                <a href="{{ path('admin_post_update' , {'id':post_item.id }) }}" class="card-link">Редактировать</a>

                                {% endif %}
                                <a href="{{ path('admin_demand_create', {'id':post_item.id }) }}" >Откликнуться </a>

                            </div>
                        </div>


                    {% endfor %}
                        <nav class="blog-pagination justify-content-center d-flex">
                            {% set current_route = app.request.get('_route') %}
                        <ul class="pagination">
                            {% if (page > 1) %}
                            <li class="page-item">
                                <a href="{{ path(current_route, {page:page-1}) }}" class="page-link" aria-label="Previous">
                                    <i class="ti-angle-left"><</i>
                                </a>
                            </li>
                            {% endif%}
                            {% for i in max(page-3, 1)..min(page+3, lastPage) %}
                                <li class="page-item {% if(i==page) %}active{% endif %}">
                                    <a href="{{ path(current_route, {page:i}) }}" class="page-link">{{ i }}</a>
                                </li>
                            {% endfor %}

                            {% if (page < lastPage) %}
                            <li class="page-item">
                                <a href="{{ path(current_route, {page:page+1}) }}" class="page-link" aria-label="Next">
                                    <i class="ti-angle-right">></i>
                                </a>
                            </li>
                            {% endif%}
                            </ul>
                        </nav>

                </ul>
            </div>
        </div>
    </div>




{% endblock %}